<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>NZ Post</name>

    <description>
        New Zealand Post - Track your parcels and find you closest postal services.
    </description>

    <author href="https://build.phonegap.com" email="chalrie.law@nzpost.co.nz">
        Charlie Law
    </author>

    <preference name="orientation" value="portrait" />    
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    
    <gap:plugin name="CDVBarcodeScanner" />
    <gap:plugin name="EmailComposer" />

</widget>