<!doctype html>

<html lang="en">

  <head>    
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
    <meta charset="utf-8">

    <title>NZ Post</title>
    
    <link rel="stylesheet" href="css/reset.css" media="screen">
    <link rel="stylesheet" href="css/buttons-custom.css" media="screen">
    <link rel="stylesheet" href="css/master.css" media="screen">
    <link rel="stylesheet" href="css/utilities.css" media="screen">

    <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3&client=gme-nzpost&sensor=false&channel=nzpost-locator"></script>-->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  </head>

  <body id="home" class="needsclick">
    
    <div id="loading"><span class="spinner show">Loading...</span></div>
    <div id="offline"><div><p>You must be online to use this service</p><a href="#" class="btn btn-secondary" id="close-offline">Close</a></div></div>
    
    <header id="header" class="toolbar grad-mask"></header> 
    
    <div id="wrapper">
      <div id="pages"></div>
    </div>

   <script>    
    // AS000000001NZ
    //var mockURL = '10.10.10.1';
    //var mockURL = '10.10.10.2';
    //var mockURL = '10.10.10.3';
    //var mockURL = '10.10.10.4';


    userip = '10.10.10.3';
    /*
    <?php
      $hostname = gethostbyaddr($_SERVER['REMOTE_ADDR']);
      echo $hostname;
    ;?> */
   </script>

 
<script>
  /* Bootsraped data for load */
  var navigationData = [
      {title: 'Home', slug: '/', desc:'Home page'},      
      {title: 'Locator', slug: 'locator', desc:'Find your clostest Postbox, Post Office & KiwiBank'},      
      {title: 'Tracking', slug: 'tracking', desc:'Follow your packages journey'},
      {title: 'Contact', slug: 'contact', desc:'Give us a call'}
  ];
  
  var buttonsData = [       
    {title: 'Home', slug:'home', classname: 'btn-head btn-head-home'},
    {title: 'Menu', slug:'menu', classname: 'btn-head btn-head-menu'},
    {title: 'Back', slug:'back', classname: 'btn-head btn-head-back'}
  ];   
  
  var DirectionTabsData = [       
    {id:0, title: 'Driving', slug:'driving'},
    {id:1, title: 'Walking', slug:'walking'}
  ];

  var AllMarkersTabsData = [        
    {id:0, title: 'All', slug:'postall'}, 
    {id:1, title: 'PostBox', slug:'postbox'},
    {id:2, title: 'Postbox Lobby', slug:'postboxlobby'},
    {id:3, title: 'Postshop', slug:'postshop'},  
    {id:4, title: 'ATM', slug:'atm'}  
  ];  
</script>


   <!-- LOCATOR -->

      <script id="tmp-locator" type="text/template">
          <% /* %><p class="intro">Your closest New Zealand Post Office and Post box</p> <% */ %>
          
          <ul id="locator-list" class="list list-arrows list-locator">             
                <li>
                    <a href="#" class="all-map">    
                      <b class="icon icon-postall"></b>              
                      <div>
                        <h2>All nearby</h2> 
                        <p>All Post Boxes, Post Offices and KiwiBanks near you now.</p>
                      </div>
                    </a>
                </li>              
          </ul>
          <div class="row ac">
          <a href="#" class="btn btn-primary refresh">Refresh</a>
          </div>
      </script>
      


     <script id="singleLocatorTemplate" type="text/template">
          <a href="#">          
          <%             
            var nonSpacedItem = type.replace(/ /g, '');                             
            var item = nonSpacedItem.toLowerCase();
          %>                            
          <b class="icon icon-<%= item %>"></b>
          <div>
            <% if (typeof(name) != "undefined") { %>
              <h2><%= name %></h2>
            <% } %>
            <p>
            <% if (typeof(address) != "undefined") { %>
              <span class="row"><%= address %></span>
            <% }  %>
            <% if (typeof(description) != "undefined") { %>
              <span class="row"><% description %></span>
            <% }  %>
            <% if (typeof(distance_in_m) != "undefined") { %>
              <span class="row">Distance: <%= parseFloat(distance_in_m/1000).toFixed(2) %> km</span>
            <% } %> 
            </p>  
          </div>
          </a>         
      </script>

      <script id="tmp-locator-detail" type="text/template">
          <div class="locator-info">     
            <% if (typeof(name) != "undefined") { %>
              <h2 class="mbn"><%= name %></h2>
            <% } %>
            <p>
            <% if (typeof(address) != "undefined") { %>
              <span class="row"><%= address %></span>
            <% } %>
            <% if (typeof(description) != "undefined") { %>
              <span class="row"><%= description %></span>
            <% }  %>  
            <% if (typeof(phone) != "undefined") { %>
              <span class="row">Tel: <a href="tel: <%= phone %>"><%= phone %></a></span>
            <% } %>
            <% if (typeof(distance_in_m) != "undefined") { %>
              <span class="row">Distance: <%= parseFloat(distance_in_m/1000).toFixed(2) %> km</span>
            <% } %>      
            </p>
          </div>  
          <p class="locator-map-wrapper"><a href="#" class="locator-map"><b></b>Directions</a></p>                           
            
            <% if (typeof(services) != "undefined" && services.length > 1) { %>
              <h3>Services</h3>
              <ul class="list-inline"> 
              <%  _.each(services, function(item, i) { %>
                <% var spacedItem = item.replace(/_/g, ' '); %>    
                <li><%= spacedItem %></li>
              <% }); %>
              </ul>
            <% } %>
           
            <% if (typeof(lobby_range) != "undefined") { %>
              <h3>Box Range</h3>
              <p><%= lobby_range %></p>
            <% }  %>
          

          <% if (typeof(hours) != "undefined" && hours.length > 0) { %>            
            
            <h3>Opening Hours</h3>
            <table class='table-default'>
              <thead>
                <tr>
                  <th class="days">Day</th>
                  <th>Times</th>
                </tr>
              </thead>            
              <tbody>
            <% 
              var myDays=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
              _.each(hours, function(item, i) { 
                if(item.closed) { %>
                  <tr class="days"><th><%= myDays[item.day] %></th><td>Closed</td></tr>
                <% } else { %> 
                  <tr class="days"><th><%= myDays[item.day] %></th><td><%= item.open %> - <%= item.close %></td></tr>                    
              <% }}); %>
              </tbody>
              </table>
          <% } %>           
           
      </script>

     <script id="mapTabbarTemplate" type="text/template">
        <div class="tabbar tabbar-mode grad-mask">
          <ul id="mode">
            <li><a href="#" data-mode="DRIVING" class="currenttab"><span>Driving</span></a></li>
            <li><a href="#" data-mode="WALKING"><span>Walking</span></a></li>
          </ul>
        </div>
      </script>      

  <!--/ LOCATOR -->



  <!-- TRACKING -->

      <script id="tmp-tracking" type="text/template">          
          <div id="tracking-form" class="tracking-form">
            <p class="intro">Enter a tracking number <b class="nopghide">or scan your barcode</b></p>
            <form>
              <div class="row">
                <div class="tracking-form-search" style="inline-block">
                  <label for="tracking-number">Tracking Number</label>
                  <input type="search" id="tracking-number" placeholder="Tracking Number" />
                  <input type="submit" id="tracking-submit" class="btn btn-primary" value="Track" /> 
                 </div> 
                 <span class="or">or</span>
                <a href="#" id="tracking-scan" class="btn btn-scan btn-primary"><b>Scan</b></a>
              </div>
            </form>            
          </div>
                  
        <div class="row ac">
          <a href="#" id="tracking-refresh" class="needsclick btn btn-primary refresh">Refresh</a>
        </div>          

      </script>
  


      <script id="tmp-tracking-item" type="text/template">           
           <% if (typeof(error_desc) != "undefined") { %>                                                     
              <a href="#" class="tracking-<%= error_desc %> <%= spinner %>">              
           <% } else { %>               
              <a href="#" class="<%= spinner %>">
            <% }  %>               
              <div>
                <b></b>
                <% if (typeof(user_added_name) != "undefined" && user_added_name.length > 0) { %>
                <h2><%= user_added_name %></h2>
                <% } %>
                <p>Status: <%= short_description %></p>
                <p>Code: <%= track_code %></p>
              </div>
            </a>
      </script>


      <script id="tmp-tracking-description" type="text/template">
          <p class="intro">Tracking Details</p>
          <div id="tracking-wrapper"></div>
      </script>

  
    
      <script id="tmp-tracking-description-name" type="text/template">
        <% if (typeof(user_added_name) != "undefined" && user_added_name.length > 0) { %>
              <%= user_added_name %>
        <% } %>
      </script>

      <script id="tmp-tracking-description-form" type="text/template">
              <p class="intro">Add a name to your parcel to identify it</p>
              <div class="row">
                <label for="tracking-updated-name">Package Name</label>
                <input type="text" id="tracking-updated-name" placeholder="Add a name" />
                <input type='submit' id="blah" value="Add" class="btn btn-primary" />
                <% /*<a href="#" id="tracking-close">Close</a>*/ %>
              </div>
      </script>   
<!--
 <% if (typeof(short_description) != "undefined" && short_description.length > 0) { %>
              <p><%= short_description %></p>
            <% } %>
-->
      <script id="tmp-tracking-description-item" type="text/template">
           <% if (typeof(track_code) != "undefined") { %>
              <h2>Item number: <%= track_code %></h2> 
           <% } %>
            <% if (typeof(detail_description) != "undefined" && detail_description.length > 0) { %>              
              <% if (typeof(error_code) != 'undefined' && error_code == 'N') {  %>
                <%= detail_description %>
              <% } else { %>
                <p id="tracking-desc-text"><%= detail_description %></p>
              <% } %>
            <% } %>

            <% if (typeof(events) != "undefined") { %>
              <table class="table-default cols3">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Time</th>
                  </tr>
                <thead>
                <tbody>
              <% _.each(events, function(item, i) { %>
                <tr>
                  <td><%= item.description %></td>
                  <td><%= item.date %></td>
                  <td><%= item.time %></td>
                </tr>
              <% }); %>
                </tbody>
              </table>
            <% } %>
          

          <% if (typeof(error_desc) == "error") { %>          
            <p class="ac">
            <a href="#" id="tracking-delete" class="btn btn-primary">Delete</a>
            </p>
          <% } else { %>
            <ul id="tracking-actions">
              <li><a href="#" id="tracking-delete" class="btn btn-primary">Delete</a></li>            
                <li><a href="#" id="tracking-edit" class="btn btn-primary">Name</a></li>
                <li><a href="#" id="tracking-email" class="btn btn-primary">Email</a></li>
            </ul>
          <% } %>

      </script>


<!-- TRACKING EMAIL TEMPLATE -->
      <script id="tmp-tracking-email" type="text/template">

        <p>Tracking number: <%= track_code %><br />
        <% if (typeof(lastDate) != "undefined") { %>Date: <%= lastDate %><br /><% } %>
        <% if (typeof(lastTime) != "undefined") { %>Time: <%= lastTime %><br /><% } %>
        <% if (typeof(lastDescription) != "undefined") { %>Status: <%= lastDescription %></p><% } %>
        <% if (typeof(full_desc) != "undefined") { %><p><%= full_desc %></p><% } %>        
        <p>The latest tracking information for this item can be viewed here: <a href="http://www.nzpost.co.nz/tools/tracking?trackid=<%= track_code %>">http://www.nzpost.co.nz/tools/tracking?trackid=<%= track_code %></a></p>
        <p>If you have an internet capable mobile device, you can view it here: <a href="http://m.nzpost.co.nz/t?id=<%= track_code %>">http://m.nzpost.co.nz/t?id=<%= track_code %></a></p>
        <p>If you have an iPhone or iPod Touch you can download the New Zealand Post iPhone application from here: <a href="http://nzpost.co.nz/iPhoneApp">http://nzpost.co.nz/iPhoneApp</a> and enter this tracking code in the search field</p>  

      </script>
<!--/ TRACKING EMAIL TEMPLATE -->


<!-- CONTACT -->
      <script id="tmp-contact" type="text/template">
        
        <h2>Email</h2>
          <p><a href="#" id="support-email">Email us</a></p>
        <h2>Phone</h2>
        <ul class="phone-numbers">
          <li><strong>Within NZ: </strong> <a href="tel:0800 501 501">0800 501 501</a></li>         
          <li><strong>Outside NZ</strong> <a href="tel:64 9 367 9710">+64 9 367 9710</a></li>
        </ul>
        <h2>Postal Address</h2>
        <p>
          Customer Service Centre<br />
          New Zealand Post<br />
          PO Box 39100<br />
          Wellington Mail Centre<br />
          Lower Hutt 5045
        </p>

       </script> 
<!--/ CONTACT -->




      <script id="tmp-nav" type="text/template">
        <a href="" class="fc nav-<%= slug %> menu-item" data-page="<%= slug %>"><h2><%= title %></h2><p><%= desc %></p></a>
      </script>

      <script id="item-template" type="text/template">
          <a href="#"><%= title %></a>
      </script>
      <!--
      <script>
        var nzp = nzp || {};
      </script>    
      <script src="js/data/button.json"></script>
      <script src="js/data/tabs.json"></script>      
      <script src="js/min/master.min.js"></script>      
      <script src="js/plugins/barcodescanner.js"></script>      
      <script src="js/init.js"></script>
      <script type="text/javascript">          
          app.initialize();
      </script>
    -->



      <script id="hiddenMenu" type="text/template"></script>


      <script>
        var nzp = nzp || {};
      </script>

    <!-- Libs -->
      <script src="js/libs/phonegap/cordova-2.1.0.js"></script> 

      <script src="js/libs/h5mbp/helper.js"></script>
      <script src="js/libs/jquery/jquery.js"></script>
      <script src="js/libs/underscore/underscore.js"></script>
      <script src="js/libs/backbone/backbone.js"></script>
      <script src="js/libs/backbone/backbone.localStorage.js"></script>
      <script src="js/plugins/EmailComposer.js"></script>      
      <script src="js/libs/fastclick/fastclick.js"></script>
      <script src="js/helper/date.js"></script>
      <script src="js/plugins/barcodescanner.js"></script>  
      <script src="js/plugins/ChildBrowser.js"></script>  
      <script src="js/helper/helper.js"></script>   
      

    <!-- Models -->
      <script src="js/models/button.js"></script>
      <script src="js/models/tab.js"></script>
      <script src="js/models/contact-page.js"></script>
      <script src="js/models/header.js"></script>
      <script src="js/models/home-page.js"></script>
      <script src="js/models/navigation.js"></script>
      <script src="js/models/tracking-page.js"></script>
      <script src="js/models/place.js"></script>
    <!-- Collections -->
      <script src="js/collections/button.js"></script>
      <script src="js/collections/tabs.js"></script>
      <script src="js/collections/contact-page.js"></script>
      <script src="js/collections/header.js"></script>
      <script src="js/collections/home-page.js"></script>
      <script src="js/collections/navigation.js"></script>
      <script src="js/collections/ratefinder-page.js"></script>
      <script src="js/collections/tracking-page.js"></script>
      <script src="js/collections/places.js"></script>
      <script src="js/collections/places-single.js"></script>      
    <!-- Views -->
      <script src="js/views/button.js"></script>
      <script src="js/views/tab.js"></script>
      <script src="js/views/contact-page.js"></script>
      <script src="js/views/header.js"></script>
      <script src="js/views/home-page.js"></script>
      <script src="js/views/locator-page.js"></script>
      <script src="js/views/locator-details.js"></script>
      <script src="js/views/map-directions.js"></script>
      <script src="js/views/map-all.js"></script>
      <script src="js/views/navigation.js"></script>
      <script src="js/views/ratefinder-page.js"></script>
      <script src="js/views/tracking-page.js"></script>
      <script src="js/views/tracking-description.js"></script>
    <!-- Routes -->
      <script src="js/routes/all.js"></script>
    <!-- Init -->
      <script src="js/helper/geolocation.js"></script>
      <script src="js/helper/map.js"></script>
      
      <script src="js/app.js"></script>
      <script src="js/init.js"></script>
      
       
      
        <script type="text/javascript">
        // Set to true if loading in phoneGap
           var phoneGap = false; 
           if(phoneGap) {
              console.log('phonegap')
              app.initialize();
              document.getElementsByTagName('html')[0].className = 'pg';
           } else {
             console.log('no phonegap')
             $(function() {
                nzp.appView = new nzp.AppView;
                nzp.appView.render();                
              }(jQuery));
           }                       
        </script>
    

  </body>
</html>
